// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    background-image: url('https://ooo.0o0.ooo/2017/02/17/58a6b7f7f24fc.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 200px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
   }
   .intro-lead-in {
       font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
       font-style: italic;
       font-size: 40px;
       line-height: 40px;
       margin-bottom: 25px;
       color:black;
   }
   .intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 75px;
    margin-top: 10px;
}
.button{
    background-color: #8BC34A; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}


.four_nav {
    width: 1240px;
    margin: 15px auto 75px;
    padding: 30px 0 40px;
}
.four_nav_a {
    width: 300px;
    height: 70px;
    display: block;
    float: left;
    color: #414141;
}
.bg1 {
    background: url(http://www.roseonly.com.cn/upload/syspic_new/14846353323263189.svg) no-repeat scroll -55px center;
    background-size: 75% auto;
}
.bg2 {
    background: url(http://www.roseonly.com.cn/upload/syspic_new/14846353796712510.svg) no-repeat scroll -55px center;
    background-size: 75% auto;
}
.bg3 {
    background: url(http://www.roseonly.com.cn/upload/syspic_new/14841011654291143.svg) no-repeat scroll -55px center;
    background-size: 75% auto;
}
.bg4 {
    background: url(http://www.roseonly.com.cn/upload/syspic_new/14841010645436709.svg) no-repeat scroll -55px center;
    background-size: 75% auto;
}
.four_nav_div {
    margin-left: 97px;
    font-size: 20px;
    padding-top: 12px;
}
.footer {
   background: #DCEDC8;
   margin-right: -20px;
   padding: 16px 10px 6px;
   text-align: center;
   font-size: 12px;
   
   span {
     display: inline-block;
     margin-right: 10px;
     height: 24px;
     line-height: 23px;
   }
 }
