<style>
.p-1{
  text-align:left;
  padding-left: 30px;
  font-size:28px;
  color:#33691E
}
</style>
<body style="background-image: url('https://ooo.0o0.ooo/2017/02/22/58ad7a4fdcbf7.jpeg')";>

  <br>
  <p class="p-1"> 参差多态，乃幸福本源</p><br>
  <p class="p-1"> 无论春、夏、秋、冬, 无论何时、何地、何种心情</p><br>
  <p class="p-1"> 参差花坊都会为您准备好</p><br>
  <p class="p-1"> 在花、人、空間、時間之間，建立了一種關係，一種感情
</p><br>
  <p class="p-1"style="color:#FFA726">来吧，欢迎进入这花花世界</p><br>
  <!-- <p class="p-1"style="color:#FFA726">近期花艺课程即将上线，敬请期待</p><br> -->


</body>
